.image-front-end {
    width: 300px;
    height: 125px;
    border-radius: 12px !important;
    box-shadow: 4px 2px 2px 1px darkgray !important;
    }

/******Pagination**********/
.pagination .active a {
    background-color: darkgray !important;
    color: whitesmoke !important;
    }